@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500&display=swap");
html {
    font-size: 10px;
    font-family: "MuseoModerno", cursive;
    background: #2d3740;
}

.app-wrapper {
    width: 90%;
    background: #1c262f;
    padding: 1rem;
    margin: 0 auto;
    color: rgb(230, 225, 225);
}

.logo > svg {
    display: block;
    margin: 0 auto;
}

svg {
    max-width: 80%;
}

form {
    text-align: center;
    padding: 2rem 1rem;
}

label {
    font-size: 1.8rem;
}

input[type="number"] {
    margin: 1.5rem 0;
    padding: 0.5rem 0;
    border: 0;
    outline: 0;
    font-family: inherit;
    width: 80%;
    max-width: 320px;
    border-radius: 5px;
    font-size: 1.6rem;
    text-align: center;
}

button[type="submit"] {
    border: 0;
    outline: 0;
    cursor: pointer;
    background: #0ad9ff;
    font-weight: bolder;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
}

.entries-wrapper {
    font-size: 1.8rem;
    padding: 2rem 1.5rem;
}

h3 {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    font-weight: lighter;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}

.data {
    font-size: 1.8rem;
    padding: 2rem 1.5rem;
}

.data > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #141c22;
    text-align: center;
    margin: 0.5rem 0;
    padding: 0 1.5rem;
    border-radius: 5px;
}

li {
    border: 1px solid gray;
    padding: 0.6rem 2rem;
    text-align: center;
    border-radius: 3px;
    width: 30px;
    margin: 5px 10px;
}

.progress {
    text-align: center;
    padding-bottom: 1rem;
}

.progress h3 {
    font-size: 2rem;
}

.progressCircleWrapper {
    display: flex;
    justify-content: center;
}

#progressCircle {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#progressCircleCenter {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    background: #1c262f;
}

@media (max-width: 450px) {
    ul {
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media (min-width: 800px) {
    .app-wrapper {
        width: 60%;
    }

    svg {
        max-width: 50%;
    }
}
